* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-image: url("https://assets.indolj.io/upload/1697727771-background.jpg");
  height: 100vh;
}

.pProducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.pProduct {
  height: 250px;
  width: 250px;
  position: relative;
}

.pProduct img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.pProductDetail {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pProductDetail h4 {
  align-self: flex-end;
}