* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  background: url("https://assets.indolj.io/upload/1697727771-background.jpg") center / cover no-repeat fixed;
  padding: 30px;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.pProducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.pProduct {
  flex-wrap: wrap;
  flex: 1;
  height: 250px;
  width: 250px;
  position: relative;
}

.pProduct img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.pProductDetail {
  padding: 3%;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pProductDetail h4 {
  align-self: flex-end;
}

.categoryNav {
  background-color: rgb(242, 157, 19);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.categoryNav a {
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  margin: 0.4rem 0;
  border-radius: .3rem;
  color: black;
  padding: .5rem 1rem .4rem;
  transition: all .5s ease-in-out;
}

.categoryNav a:hover {
  background-color: black;
  color: white;
}

.searchBox {
  text-align: start;
  margin: 0 auto;
  width: 100%;
  border: 1px solid rgb(242, 157, 19);
  border-radius: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBox input {
  width: 100%;
  padding: 12px;
  border-radius: 3.5rem;
  border: none;
  color: rgb(242, 157, 19);
  font-weight: 600;
}

.searchBox span {
  padding: .4rem;
}

.searchBox svg {
  background-color: rgb(242, 157, 19);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 3px;
  height: 20px;
  transform: rotate(180deg);
}

.popularItems {
  margin: 33px 0;
}