* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.pProducts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pProduct {
  position: relative;
  width: 100%;
  height: 100%;
}

.pProductImage {
  position: absolute;
}

.pProductImage img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.pProductDetail {
  position: relative;
  height: 100%;
  width: 100%;
}

.pProductName {
  position: relative;
}

.pProductPrice {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background: white;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 13px;
}